@media (max-width: 890px) {
    .table-box td, .table-box th {
        display: block;
        width: 100%;
        clear: both;
    }
}
.navbar-inverse {
    background-color: rgba(0, 25, 39, 0.75);
    border-color:  rgba(55,71,79,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.modal_link {
    cursor: pointer;
}
body {
    font-size: 14px;
    background-color: #fff;
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 15px;
    margin-bottom: 15px;
}
h2, .h2 {
    font-size: 25px;
}
h4, .h4 {
    font-size: 17px;
    line-height: 24px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(0, 0, 0, 0.5);
}
.mt-0 {
  margin-top: 0px !important;
}
p {
    margin: 0 0 20px;
    font-size: 15px;
}
b, strong {
    font-weight: 600;
}

.navbar-nav > li > a.mobile-menu-button {
    padding: 11px 10px 9px 10px;
}
.navbar-nav > li > a.mobile-menu-button i {
    font-size: 24px;
}
#navbar-mobile i {
    font-size: 18px;
}
.navbar-brand > img {
    height: auto;
}
.row {
    margin-left: -20px;
    margin-right: -20px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 20px;
    padding-right: 20px;
}
.page-title .breadcrumb > li > a, .page-title .breadcrumb > li + li:before {
    color: #333;
}
h1, .h1 {
    font-size: 30px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 24px;
}
.select2-search--dropdown .select2-search__field {
    border: solid 2px #bbb;
}
.select2-results__option[aria-selected=true] {
    background: #009688;
}
.select2-results__option[aria-selected=false]:hover {
    background: #c8e9e6 !important;
}
.select2-search--hide + .select2-results > .select2-results__options {
    padding: 0;
}
a {
    color: #007c89;
}
.caret:after {
    font-size: 18px;
    font-weight: normal;
    margin-left: 3px;
}
.sub_section {
    margin-bottom: 30px;
}
.page-container {
    padding-bottom: 100px;
}
.checkbox-right-switch .checkbox {
    margin-bottom: 30px;
    margin-top: 0;
}
.label {
    font-size: 11px;
    padding: 2px 10px;
    margin: 2px 0;
    border-radius: 20px;
}
.page-title {
    padding: 20px 0 20px 0;
}
.page-title .breadcrumb.position-right {
    margin-left: 0;
}
.text-semibold {
    font-weight: 500;
}
.text-bold {
    font-weight: 600;
}
textarea.form-control {
    font-weight: normal;
}
.checker span {
    border-color: #ccc;
    border-radius: 3px;
    border-width: 1.5px;
}
.form-control, .select2 {
    font-size: 13px;
    border-color: #bbb;
    border-radius: 5px;
    border: solid 2px #ccc;
}
h3 {
    margin-bottom: 1.14285714em;
    font-size: 21px;
    line-height: 1.14285714em;
    letter-spacing: -0.025em;
    font-style: italic;
}
.select2-selection--single .select2-selection__arrow:after {
    font-size: 20px;
    color: #777 !important;
    margin-top: -10px;
}
.select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-color: #ddd;
    background-color: #ddd;
}
.select2-selection--single:not([class*=bg-]):not([class*=border-]):hover {
    border-color: #aaa;
}
.select2-dropdown {
    border: 2px solid #ccc;
}

.select2-selection--single {
    height: 37px;
}
.select2-results > .select2-results__options {
    padding-bottom: 0;
}
.select2 {
    border: none;
    border-radius: 5px;
}
.page-title .breadcrumb {
    margin-bottom: 10px;
}
.select2-selection--single:not([class*=bg-]), .select2-selection--multiple:not([class*=bg-]):not([class*=border-]) {
    font-size: 13px;
    border-color: #bbb;
    border-radius: 5px;
    border: solid 2px #ccc;
    font-weight: 500;
    padding: 5px 0;
}
.dropdown-menu {
    border-width: 2px;
}
.select2-selection--multiple:not([class*=bg-]):not([class*=border-]) {
    padding: 0;
}
.has-error .select2-selection--multiple:not([class*=bg-]):not([class*=border-]) {
    border-color: #D84315;
}
.form-control:hover {
    border-color: #aaa;
}
.form-control:focus {
    border-color: #4DB6AC;
}
.form-group {
}
.form-group label {
    margin-bottom: 5px;
    display: block;
    line-height: 24px;
}
.form-group .help {
    height: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    margin-top: -2px;
}
.form-group .help.showed {
    margin: 10px 0;
    height: auto;
    opacity: 1;
    padding: 10px 15px;
}
.dropdown-menu {
    padding: 0;
    overflow: hidden;
}
.dropdown-menu .divider {
    padding: 0;
}
.btn {
    font-size: 14px;
}
.navbar-header {
    min-width: 140px;
}
.text-muted {
    color: #241c15;
}
.text-muted2 {
    color: #999;
}
.navbar-brand {
    padding: 14px 10px;
}
.dropdown-menu > li > a {
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 500;
}
.navbar-nav > li > a {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 13px;
}
.page-header-content {
    margin: auto;
    max-width: 1280px;
}
.page-container {
    margin: auto;
    max-width: 1280px;
}
.navbar-nav > .dropdown-user > a, .navbar-nav > .dropdown-user > a > span {
    padding-top: 7px;
    padding-bottom: 9px;
}
.table-box {
    font-size: 15px;
    margin-top: 15px;
}
.checkbox.inline {
    margin-top: 0;
    display: inline;
    margin-bottom: 0;
}
.table-box tr td:first-child {
    padding-left: 0;
    padding-right: 0;
}
.table-box tr:last-child td {
    border-bottom: solid 1px #ddd;
}

.table-box tbody tr td, .table-box tbody tr th {
    vertical-align: top;
    padding: 20px 10px;
}
.table-box-head tr th {
    background: #eee;
}
.table-box-head tr td:first-child {
    padding-left: 20px;
}
.single-stat-box {
    margin-right: 30px;
    margin-bottom: 0px;
}
.stat-fix-size .single-stat-box {
    width: 105px;
}
.stat-fix-size-sm .single-stat-box {
    min-width: 90px;
}
.single-stat-box .progress {
    margin: 2px 0 2px 0;
}
.list-drag-button {
    color: #999;
    font-size: 20px;
    margin-right: 10px;
    cursor: move;
    line-height: 36px;
}
.list-drag-button:hover {
    color: #555;
}
.filter-box {
    margin-bottom: 0;
}
.filter-box input.search {
    width: 250px;
    display: inline-block;
    height: 33px;
    margin-left: 0;
    padding-right: 32px;
}
.filter-box .btn {
    font-size: 13px;
    margin-top: -3px;
}
.filter-group {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
}
h2 [class^="icon-"] {
    font-size: 22px;
}
.mr-0 {
    margin-right: 0 !important;
}
.filter-group .title {
    margin-right: 10px;
    font-size: 13px;
}
.stat-num {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #26A69A;
}
.dropdown-menu .divider {
    margin: 0;
}
.checker, .checker span, .checker input {
    width: 22px;
    height: 22px;
}
.checker span.checked {
    background: #009688;
    color: #fff;
    border-color: #009688;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
.checker span:after {
    font-size: 19px;
    top: 0px;
    left: 0px;
    font-weight: normal;
}
.keyword {
    font-style: italic;
}
.page-title h1 i {
    font-size: 24px;
    margin-right: 5px;
    font-weight: normal;
}
.checkbox-description {
    display: block;
    color: #666;
    font-weight: normal;
    margin-top: 2px;
}
.radio label, .checkbox label {
    padding-left: 35px;
}
.navbar-default {
    background: rgba(240, 240, 240, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
@media (max-width: 600px) {
    .filter-box input.search {
        width: 100%;
        margin: 10px 0;
        float: none;
    }
}
.login-header {
    margin: 60px 0;
}
.login-header img {
    max-width: 100%;
}
.has-feedback label ~ .form-control-feedback.has-label {
    top: 30px;
}
.dropdown-menu > li > a:hover {
    background: #c8e9e6;
}
.profile-image .media-left img {
    width: 110px;
    height: 110px;
}
.media-left, .media > .pull-left {
    padding-right: 30px;
}
.form-group label.validation-valid-label {
    display: none !important;
}
.profile-image .media-left {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
}
.upload-media-container {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    height: 110px;
    width: 110px;
}
.upload-media-container img {
    border-radius: 0;
}
.page-second-nav {
    margin: 0 0 20px 0;
}
.page-second-nav li a.level-1 {
    padding: 10px 0;
    font-size: 15px;
}
.page-second-nav li {
    margin-right: 30px;
}
.page-second-nav li ul li {
    margin-right: 0;
}
.page-second-nav li.active a.level-1 {

}
.has-error .select2-selection--single:not([class*=bg-]) {
    border-color: #D84315;
}
.header-flash {
    margin-top: 30px;
}
.navbar-nav > .dropdown-user img {
    max-height: 40px;
    margin-top: -2px;
    margin-bottom: -2px;
}
.subhead {
    font-size: 15px;
    color: #666;
    font-weight: normal;
    white-space: nowrap;
}
.btn {

}
.checkbox-right-switch .switchery, .checkbox-right-switch .bootstrap-switch  {
    float: right;
    margin-top: 30px;
}
.switchery  {
    margin-top: 5px;
}
.checkbox-right-switch label {
    padding-left: 0;
    width: calc(100% - 110px);
    font-size: 17px;
}
.checkbox-right-switch .checkbox-description {
    font-size: 14px;
}
.empty-list {
    width: 100%;
    display: block;
    border: solid 0px #ddd;
    border-radius: 10px;
    padding: 80px 20px;
    margin: 15px 0;
    background: #eee;
    text-align: center;
}
.empty-list i {
    font-size: 550%;
    display: block;
    color: #bbb;
}
.empty-list span.line-1 {
    font-size: 18px;
    display: block;
    margin: 20px 0 0 0;
    font-weight: 600;
    color: #666;
}
.empty-list span.line-2 {
    font-size: 16px;
    display: block;
}
.top-list-controls {
    margin-top: 20px;
}
.form-group .checkbox:first-child {
    margin-top: 0;
}
.transparent {
    visibility: hidden;
}
.checkbox-right-switch label {
    margin-bottom: 30px;
}
.checkbox_leftcol {
    width: calc(100% - 150px);
    float: left;
    margin-left: 20px;
}
.pagination {
    margin: 0;
    float: right;
}
.pagination-flat > li > a:hover {
    background: #c8e9e6;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #007c89;
}
.filter-box .select2 {
    max-width: 180px !important;
    min-width: auto !important;
    width: auto !important;
}
.filter-box .select2-selection--single {
    height: 33px;
}
.filter-box .select2-selection--single:not([class*=bg-]) {
    padding: 3px 0;
    background: #ddd;
    border-color: #ddd;
}
.select2-selection--single .select2-selection__rendered {
    padding-right: 32px;
    line-height: 23px; /* equal to the inner height of the parent element - to make it vertically middle  */
}
.filter-box .checkbox.inline {
    margin-top: 6px;
    display: block;
    float: left;
}
.check_all_list.check-some .checker span.checked:after {
    content: "\e9b7";
    font-size: 17px;
    padding: 1px;
}
.num_per_page {
    margin: 15px 0;
}
.btn .caret {
    margin-left: 5px;
}
.num_per_page label {
    float: left;
    font-weight: 600;
    margin-left: 8px;
    line-height: 33px;
}
.num_per_page .select2 {
    float: left;
    width: auto !important;
}
.num_per_page .select2-selection--single {
    padding: 2px 0;
    height: 33px;
    background: #ddd;
    border-color: #ddd !important
}
.btn .ml-0 {
    margin-left: 0;
}
.num_per_page .select2-selection--single .select2-selection__arrow:after {
    margin-top: -12px;
}
@media (max-width: 768px) {
    .page-second-nav li a.level-1 {
        padding: 10px 15px;
    }
    .page-second-nav li ul li a {
        padding-left: 50px;
    }
    .page-second-nav li ul li.head {
        padding-left: 15px
    }
    .page-second-nav li a.level-1 {
        padding: 15px 20px;
    }
    .navbar-brand {
        padding: 10px 10px;
    }
}
@media (min-width: 768px) {
    .nav-tabs.nav-tabs-top > li.active > a, .nav-tabs.nav-tabs-top > li.active > a:hover, .nav-tabs.nav-tabs-top > li.active > a:focus, .nav-tabs.nav-tabs-top > li > a:hover {
        border-bottom-color: #26A69A;
    }
}
@media (min-width: 769px) {
    .nav-tabs.nav-tabs-top > li > a, .nav-tabs.nav-tabs-top > li > a:hover, .nav-tabs.nav-tabs-top > li > a:focus {
        border-width: 0 0 4px 0;
        margin-bottom: -1px;
        cursor: pointer;
    }
    .nav-tabs.nav-tabs-top > li > a:hover, .nav-tabs.nav-tabs-top > li > a:focus, .nav-tabs.nav-tabs-top > li.active > a {
        color: #333;
    }
}
.page-second-nav li ul li.head {
    padding: 8px 0 8px 15px;
    font-weight: 600;
    background: #efefef;
    color: #333;
}
.page-second-nav li ul li.head i {
    display: inline-block;
    margin-right: 5px;
}
.nav-tabs > li > a {
    color: #333;
}
.nav-tabs > li.active > a {
    color: #111;
}
.keyword_search_button {
    color: #999;
    margin-left: -38px;
    line-height: 26px;
    background: #fff;
    padding: 0 8px;
}
.hide {
    position: absolute;
    top: -9000px;
}
.field-list input {
    width: auto;
    margin: 0;
    display: inline;
    max-width: 300px;
}
.field-list .form-group {
    margin: 0;
    display: inline;
}
label.error {
    color: #F44336;
}
input.error {
    border-color: #F44336;
}
.label-value-group .btn {
    line-height: 16px;
    margin-top: 4px;
    padding: 3px 3px 2px 3px;
    border-radius: 100%;
}
.label-value-group {
    width: 100%;
    margin-bottom: 15px;
    float: left;
}
.label-value-groups .label-value-group:first-child a.btn {
    display: none;
}
.field-list .child input {
    height: 32px;
    font-size: 14px;
    border-width: 1px;
}
.field-list .child td {
    background: #f4f4f4;
    border-top: solid 3px #ddd;
}
.table-sub .label {
    font-size: 10px;
    padding: 2px 8px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    font-weight: 600;
    border-width: 0;
}
.table-sub .stat-num {
    font-size: 15px;
}
.table-sub .text-muted2 {
    font-size: 13px;
}
.table-sub .label {
}
.bg-submitted_for_settlement, .bg-authorized, .bg-pending, .bg-waiting, .bg-ready, .bg-sent, .bg-finished, .bg-pending_active {
    background-color: #ffd7d4;
    border-color: #f7c9c6;
    color: #231c15;
}
.bg-settled, .bg-recurring, .bg-deliverable, .bg-current_active, .bg-current, .bg-cron-running, .bg-running, .bg-starting, .bg-pending-sending, .bg-active, .bg-confirmed, .bg-paid, .bg-sending, .bg-subscribed {
    background-color: #c4efab;
    border-color: #c4efab;
    color: #231c15;
}
.bg-verified {
    background-color: #c4efab;
    border-color: #c4efab;
    color: #231c15;
}
.bg-unverified, .bg-ended, .bg-unknown, .bg-expired, .bg-past, .bg-spam-reported, .bg-not_sent, .bg-canceled, .bg-cancelled, .bg-unactive, .bg-disabled, .bg-unsubscribed, .bg-unconfirmed, .bg-draft, .bg-blacklisted, .bg-done {
    background-color: #777;
    border-color: #777;
    color: #fff;
}
.bg-risky, .bg-paused {
    background-color: #E91E63;
    border-color: #E91E63;
    color: #fff;
}
.bg-expired {
    opacity: 0.5;
}
.bg-inactive, .bg-current_inactive, .bg-pending_inactive, .bg-current_disabled, .bg-pending_disabled {
    background-color: #ddd;
    border-color: #ddd;
    color: #000;
}
.bg-future, .bg-new {
    background-color: #f25f24;
    border-color: #f25f24;
    color: #fff;
}
.bg-undeliverable, .bg-outdated, .bg-error, .bg-failed {
    background-color: #D84315;
    border-color: #D84315;
    color: #fff;
}
.modal-body h6 {
    font-size: 16px;
    font-weight: 600;
}
.input-icon-right {
    position: relative;
}
.input-icon-right i {
    position: absolute;
    font-size: 20px;
    top: 8px;
    z-index: 100;
    right: 10px;
}
.list_columns ul {
    background: #f5f5f5;
}
.list_columns ul li {
    padding: 1px 15px;
    border-bottom: solid 1px #fff;
}
.list_columns ul li:last-child {
    border-bottom: 0;
}
hl {
    background: rgba(77, 208, 225, 0.30);
    color: #333;
}
.inline .select2 {
    width: auto !important;
}
.inline {
    display: inline;
}
.progress-lg {
    height: 32px;
    margin-bottom: 5px;
}
.progress-lg .progress-bar {
    line-height: 32px;
    font-size: 15px;
}
.preview_page_frame {
    border: none;
    width: 100%;
    border: solid 2px #999;
    height: 500px;
}
.modal-full {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.preview_page_cover {
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 500px;
}
.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
    margin-bottom: 20px;
}
.campaign-steps a {
    font-size: 16px;
}
ul.campaign-steps > li.active > a:hover, ul.campaign-steps > li.active > a:focus, ul.campaign-steps > li > a:hover {
    background-color: #fff;
    color: #00695B;
}
ul.campaign-steps > li.active > a, ul.campaign-steps > li.active > a:hover {
    background-color: #fff;
    border-bottom: solid 2px #00695B;
    border-radius: 5px 5px 0 0;
    background: #00695C;
    padding: 10px 15px;
    margin-bottom: -2px;
    color: #fff;
}
ul.campaign-steps > li.disabled > a:hover {
    border-bottom: none;
}
ul.campaign-steps {
    text-align: left;
    border-bottom: dashed 2px #aaa;
    margin-top: 30px;
}
ul.campaign-steps li:after {
    display: block;
    content: "\ee31";
    font-family: 'icomoon';
    position: absolute;
    top: 15px;
    left: -35px;
    font-size: 10px;
    color: #333;
}
ul.campaign-steps li.disabled:after {
    color: #aaa;
}
.campaign-steps > li {
    margin-right: 50px;
}
.campaign-steps > li > a {
    padding-right: 0;
    padding-left: 0;
}
ul.campaign-steps li:first-child:after {
    display: none;
}
.nav-tabs > li {
    font-size: 15px;
    margin-right: 30px;
}
textarea.plain_text_content {
    height: 350px;
}
.nav-tabs > li > a.error {
    color: #9c1f1f !important;
}
.help-block {
    font-size: 14px;
}
ul.modern-listing {
    margin: 20px 0 30px 0;
    padding: 0;
}
ul.modern-listing li {
    list-style: none;
    clear: both;
    border-bottom: solid 1px #eee;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
ul.modern-listing li:first-child {
    border-top: solid 1px #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul.modern-listing li i, .table-row-icon {
    float: left;
    font-size: 30px;
    height: 70px;
    margin-right: 20px;
    color: #007c89;
    margin-top: 0;
    width: 30px;
    text-align: center;
}
ul.modern-listing li .btn i {
    float: none;
    font-size: inherit;
    height: auto;
    margin-right: inherit;
    color: inherit;
    margin-top: inherit;
    width: inherit;
    text-align: inherit;
}
.table-row-icon {
    color: #333;
}
ul.modern-listing li h4 {
    margin: 0 0 5px;
    font-size: 20px;
}
ul.modern-listing li p {
    font-size: 15px;
}
p pp:last-child {
    display: none
}
ul.modern-listing li .btn {
    float: right;
}
.confirm-campaign-box {
    max-width: 900px;
    margin: auto;
}
.confirm-campaign-box .head {
    text-align: center;
}
.campaigns-summary {
    font-size: 15px;
}
.progress-right-info {
    font-size: 20px;
    font-weight: 500;
}
[class^="icon-"], [class*=" icon-"] {
    /*margin-right: 7px;*/
}
.stat-table {

}
.stat-table .stat-row {
    margin: 20px 0;
    border-bottom: dotted 1px #ddd;
    margin-bottom: 25px;
}
.stat-table .stat-row p {
    font-weight: 500;
    margin: 5px 0;
    margin-bottom: 5px;
}
.stat-table .stat-row .num {
    padding-left: 10px;
    font-size: 18px;
    margin-top: -5px;
}
.table-head tbody tr th {
    background: #ddd;
    padding: 10px 20px;
}
.table-head tbody tr td {
    padding: 10px 20px;
}
.table-head tbody tr td:first-child {
    padding: 10px 20px;
}
#navbar-mobile i {
    margin-right: 5px;
}
.table-checkmark-0 {
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 25px;
    color: #EF5350;
}
.table-checkmark-0:after {
    content: "\ed6a";
}
.table-checkmark-1 {
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 25px;
    color: #007c89;
}
.table-checkmark-1:after {
    content: "\ed6c";
}
.nav-tabs {
    border-bottom: 1px solid #bebbb9;
    margin-bottom: 30px;
}
.table-icon-big {
    font-size: 40px;
    margin-top: 5px;
}
.navbar-top {
    padding-top: 0px;
}
@media (min-width: 769px) {
    .navbar-top {
        padding-top: 80px;
    }
}
.btn-server-type {
    margin: 10px 10px 0 0;
    padding: 15px 20px;
    width: calc(33.3% - 15px);
    text-align: left;
}
textarea.dkim_box {
    height: 100px;
    font-size: 14px;
}
.nav-tabs:before {
    display: none;
}
input.numeric {
    text-align: right;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.modern-listing.top-border-none li:first-child {
    border-top: 0;
    padding-top: 0;
}
.modern-listing .number {
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    background: #007c89;
    margin-top: -3px;
    border-radius: 50px;
    opacity: 0.8;
}
.action-log-box * {
    -webkit-transition: all 0ms linear;
    -moz-transition: all 0ms linear;
    -o-transition: all 0ms linear;
    -ms-transition: all 0ms linear;
    transition: all 0ms linear;
}
.action-log-box {
    height: 400px;
    background: none;
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #00695C !important;
}
.second-line-mobile {
    display: none;
}
table.table-log {
    margin-top: 20px;
}
table.table-log tr th {
    padding: 5px 10px;
    background: #efefef;
    color: #333;
}
table.table-log tr td {
    padding: 10px 10px;
}
table.table-log tr td:first-child {
    padding-left: 10px;
}
.caret {
    margin-left: 5px;
}
.checkbox.unlimited-check, .checkbox.sending_quota-check {
    display: block;
    margin-top: -10px;
    margin-bottom: 0;
}
input.disabled {
    background-color: #f5f5f5 !important;
}
input.disabled:hover {
    border-color: #ccc !important;
}
.text-trans {
    color: rgba(0,0,0,0);
}
.checkbox-box-group {
    height: 60px;
    margin-bottom: 20px;
}
.checkbox-box-group label {
    display: block;
}
.checkbox-box-group .switchery {
    position: absolute;
    top: 24px;
}
ul.install-steps li:first-child:after {
    display: block;
}
ul.install-steps li:last-child:after {
    display: none;
}
ul.install-steps > li.active > a, ul.install-steps > li.active > a:hover {
    background: #009688;
    border-bottom: 0;
    margin-left: 20px;
}
ul.install-steps > li.active:first-child > a {
    margin-left: 0 !important;
}
ul.install-steps {
    border-bottom: solid 2px #009688;
    margin-bottom: 0;
}
ul.install-steps li:after {
    color: #888;
    right: -25px;
    left: auto;
}
ul.install-steps li {
    margin-right: 20px;
}
ul.install-steps li a {
    color: #888;
    padding-left: 15px;
    padding-right: 0;
    cursor: default;
}
ul.install-steps li.enabled:after {
    color: #fff;
}
ul.install-steps li a:hover, ul.install-steps li a:focus {
    background: none;
    color: #888;
}
ul.install-steps li.enabled a:hover, ul.install-steps li.enabled a:focus {
    color: #fff;
}
ul.install-steps li.enabled a {
    color: #ddd;
    cursor: pointer;
}
ul.install-steps li.active a {
    color: #fff;
}
ul.install-steps li.enabled a:hover {
    color: #fff !important;
}
.sweet-alert h2 {
    color: #333;
}
.dropdown-menu {
    overflow: inherit;
}
.dropdown-menu li ul {
    position: absolute;
    right: -160px;
    background: #fff;
    margin-top: -52px;
    border: solid 2px #ddd;
    padding: 0;
    display: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.dropdown-menu.dropdown-menu-right li ul {
    right: auto;
    left: -160px;
}
.dropdown-menu li:hover > ul {
    display: block;
}
.dropdown-menu ul > li:hover > a {
    background: #c8e9e6;
}
.dropdown-menu li:hover > a {
    background: #c8e9e6;
}
.dropdown-menu li ul li {
    list-style: none;
}
.dropdown-menu li ul li a {
    width: auto;
    display: block;
    padding: 15px 15px;
    white-space: nowrap;
    color: #333;
    width: 170px;
}
.dropdown-menu li ul li a i {
    line-height: 24px;
}
.other-lists .btn {
    padding: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 9px;
}
.tags_list .btn {
    margin-bottom: 10px;
    width: 200px;
}
.select2 {
    height: 36px;
}
.notoping .switchery {
    margin-top: 0;
}
.url-truncate {
    max-width: 400px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.domain-truncate {
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.api-page .list {
    padding-left: 20px;
}
.api-page .list dd {
    padding-left: 40px;
}
.api-page td h4:first-child {
    margin-top: 0;
}
.api-required {
    font-weight: normal;
    font-style: italic;
    display: inline-block;
    padding-left: 10px;
    color: #D84315;
}
.api-optional {
    font-weight: normal;
    font-style: italic;
    display: inline-block;
    padding-left: 10px;
    color: #333;
}
redbold {
    color: #D84315;
    font-weight: 700;
}
.embedded_form {
    border: solid 1px #ccc;
    width: 100%;
    height: 400px;
    overflow: auto;
}
textarea.height-100 {
    height: 100px
}
.text-small {
    font-size: 90%;
}
.embedded-code {
    max-height: 400px;
}
.checbox-filter {
    margin: 0 10px;
    display: inline-block;
}
.filter-box .small-select2 .select2 {
    width: 82px !important;
    min-width: inherit !important;
}
.dashboard-box {
    float: left;
    width: 110px;
    height: 120px;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    color: #333;
    margin-right: 30px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px 1px 2px 1px;
    position: relative;
    border-bottom-color: #00695C;
}
.dashboard-box:hover {
    color: #333;
    border-color: #00695C;
    background: #f8f8f8;
}
.dashboard-box h4 {
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 14px;
}
.dashboard-box .dashboard-icon {

}
.dashboard-box .dashboard-icon i {
    font-size: 40px;
    color: #00695C;
}
.modern-listing {
    margin-bottom: 0;
}
@media (max-width: 768px) {
    ul.modern-listing li {
        padding-bottom: 20px;
    }
}
.dashboard-box .badge {
    position: absolute;
    right: 3px;
    z-index: 1;
    top: 3px;
    font-size: 15px;
}
.panel-no-color {
    border: none;
}
.panel-no-color .panel-heading, .panel-no-color .panel-body {
    padding-left: 0;
    padding-right: 0;
}
.h1-subtitle {
    color: #888;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}
.boxes-plans {
    padding: 20px 0;
}
ul.plans-intro {
    padding: 0;
    text-align: center;
}
ul.plans-intro li {
    margin: 15px 0;
    list-style: none;
}
ul.plans-intro li a {

}
.pt-0 {
    padding-top: 0;
}
.plan-price-box {
    padding: 10px;
    text-align: center;
    background: #eee;
    font-size: 16px;
}
.plan-price-box .price {
    font-size: 20px;
    font-weight: 700;
}
.box-active {

}
.box-inactive {
    opacity: 0.6;
}
.box-inactive .panel-heading {
    background-color: #555;
}
.panel-plan .panel-heading {
    height: 55px;
}
.panel-plan .panel-heading .btn {
    margin-top: -5px;
}
.system_logs {
    height: 400px;
    background: #f5f5f5;
    overflow: auto;
    width: 100%;
    border: solid 2px #bbb;
    padding: 20px;
}
.server-avatar i {
    font-size: 45px !important;
}
.server-avatar {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    float: left;
}
.server-avatar i {
    color: #555 !important;
}
.server-avatar:after {
    content: "SS";
    display: block;
    position: absolute;
    top: -7px;
    width: 40px;
    right: 0;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    background: #fff;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    border: solid 2px #999;
}
.server-avatar i {
    margin-right: 10px;
}
.server-avatar-amazon-smtp:after {
    content: "AS";
}
.server-avatar-amazon-api:after {
    content: "AA";
}
.server-avatar-sendgrid-smtp:after {
    content: "SA";
}
.server-avatar-sendgrid-api:after {
    content: "SA";
}
.server-avatar-mailgun-api:after {
    content: "MA";
}
.server-avatar-mailgun-smtp:after {
    content: "MS";
}
.server-avatar-smtp:after {
    content: "ST";
}
.server-avatar-sendmail:after {
    content: "SM";
}
.server-avatar-php-mail:after {
    content: "PM";
}
ul.no-top-border-list li:first-child {
    border-top: none;
}
.chart-container.has-scroll {
    overflow-x: auto;
}
.empty-chart-pie .empty-list {
    padding: 159px 20px;
    margin-top: 0;
}
.badge-big {
    font-size: 18px;
    border-radius: 20px;
    padding: 1px 10px;
}
.badge-medium {
    font-size: 13px;
    border-radius: 20px;
    padding: 1px 10px;
}
.badge-row {
    margin-bottom: 10px;
    margin-top: 20px;
}
.sub-h3 {
    margin: 10px 0 20px 0;
    font-size: 16px;
}
.flag-icon {
    display: inline-block;
    margin-top: -9px;
    margin-right: 10px;
}
.panel-template-style .panel-body img {
    max-width: 100%;
}
.panel-template-style:hover {
    border-color: #166dba;
}
.template_preview {
    width: 100%;
    border: solid 2px #ccc;
    height: 500px;
}
.badge-text-small {
    font-size: 11px;
}
.text-normal {
    font-weight: normal;
}
.with100 {
    width: 100%;
}
.icon-list-big {
    font-size: 42px;
    margin-right: 15px;
}
.tabable-container .tabable-tab {
    display: none;
}
.pl-35 {
    padding-left: 35px;
}
.pt-29 {
    padding-top: 29px;
}
label.col-center {
    font-weight: 800;
    line-height: 36px;
}
.radio-more {
    display: none;
}
.day-of-month-box .checkboxes-container {
    height: 375px;
    overflow: auto;
}
.auto-event-form-line .select2-container {
    height: 39px;
    display: inline-block;
}
.auto-event-form-line input {
    width: 80px;
    text-align: center;
}
.auto-event-form-line .form-group {
    width: auto;
    display: inline-block;
    margin: 0;
}
.timeline-icon-i i {
    font-size: 42px;
}
.timeline-icon-i {
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    background: #007c89;
    border-radius: 50px;
}
.workflow-form .panel-auto-campaign, .workflow-form .panel-auto-campaign .panel-heading {
    background: #f8f8f8;
}
.auto-campaign-icon {
    margin-right: 20px;
    font-size: 38px;
    color: #777;
}
.panel-auto-campaign {
    background: #f8f8f8;
}
numbericon {
    display: inline-block;
    background: #007c89;
    float: left;
    color: #fff;
    width: 40px;
    margin: 0 20px 25px 0;
    height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}
ul.automation-confirm li {
    list-style: none;
    clear: both;
    border-bottom: solid 1px #ddd;
    margin-bottom: 0;
    padding-top: 20px;
}
ul.automation-confirm li.child-row {
    padding-left: 110px;
    background: #f8f8f8;
}
ul.automation-confirm li.child-row h5 {
    margin-top: 0;
}
.auto-event-form-line .has-error .help-block {
    display: none;
}
.auto-event-substr {
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.automation-email-stat-box {
    width: 100px;
}
.overview-campaign-box table td {
    border: none !important;
}
.overview-campaign-box ul.automation-confirm li.child-row {
    padding-top: 5px;
}
.overview-campaign-box ul.automation-confirm li.child-row {
    padding-left: 40px;
}
.overview-campaign-box ul.modern-listing li:first-child {
    padding-top: 0;
    /*background: #00695C;
    color: #fff;*/
    margin-bottom: 20px;
}
.breadcrumb > li {
    font-weight: 400;
}
/*.event-inactive .event-campaigns-box, .event-inactive .panel {
    opacity: 0.7;
}
.event-inactive:hover .event-campaigns-box, .event-inactive:hover .panel {
    opacity: 1;
}*/
.auto-event-line.changing {
    margin-bottom: 50px;
}
.event-inactive .timeline-icon-i {
    background: #777;
}
.auto-event-line .btn-controls .btn {
    line-height: 21px;
    margin-top: -4px;
}
.auto-event-line .btn-controls {
    display: none;
    margin-left: 20px;
}
.auto-event-line.changing .btn-controls {
    display: inline;
}
.auto-event-line.changing .link-out {
    display: none !important;
}
.auto-event-line.changing .box-out {
    visibility: hidden;
}
.radio .choice {
    line-height: 28px;
}
.picker__table td {
    padding: 0 !important;
}
.bg-slate-800 .AnyTime-win {
    color: #333;
}
.auto-event-line.changing .timeline-content {
    margin-bottom: 20px;
    border-color: #aaa;
    border-width: 2px;
    box-shadow: 2px 7px 11px rgba(0,0,0,0.2);
    padding-top: 2px;
    z-index: 2;
    position: absolute;
    /* left: 0; */
    width: 95%;
    margin-left: 0 !important;
}
.auto-event-line.changing .before {
    display: none;
}
.auto-event-line.changing .before {
    content: "";
    text-indent: -9000px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 1;
    display: block;
}
@media (min-width: 1024px) {
    .auto-event-line.changing .timeline-content {
        width: 95%;
    }
    .panel-auto-campaign {
        margin-left: 40px;
    }
}
.timeline-event .panel {
    border: solid 1px #aaa;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background: transparent;
}
.timeline-event .panel-flat > .panel-heading {
    background: transparent;
}
.btn-updown {
    margin-left: 10px;
    padding-left: 10px;
    border-left: solid 1px #ddd;
}
.btn-updown .btn {
    border-radius: 20px !important;
    padding: 7px 10px;
    border: solid 1px #aaa !important;
}
.btn-updown .btn:first-child:hover {
    border-right: none !important;
}
.btn-updown .btn:first-child {
    margin-right: 5px !important;
}
.btn-updown a.btn.disabled {
    background: #ddd;
}
.auto-event-form-line input {
    display: inline-block;
}
.pt-28 {
    padding-top: 28px;
}
.multiple .select2 {
    height: auto
}
.quick_note {
    font-style: italic;
    margin-top: 4px;
    display: inline-block;
}
.select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 2px 0;
}
.select2-selection--multiple .select2-selection__choice {
    padding: 2px 12px;
}
.select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    margin-top: 5px;
}
.control-with-mask {
    color: rgba(0,0,0,0);
}
.mask-control {
    height: 26px;
    display: block;
    margin-top: -29px;
    font-size: 15px;
    padding-left: 11px;
    background: rgba(0,0,0,0);
    margin-left: 2px;
    float: left;
    position: absolute;
}
.dashboard-box .dashboard-icon i {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}
.dashboard-box .badge {
    font-size: 12px;
    border-radius: 20px;
    height: 21px;
    min-width: 21px;
    padding: 1px 5px;
    font-weight: bold;
}
.dashboard-box {
    border-width: 0;
    margin-bottom: 10px;
    height: auto;
    width: 100px;
    margin-right: 10px;
}
@media (max-width: 500px) {
    .dashboard-box {
        height: 110px;
    }
}
.admin-dashboard-container h2 {
    color: #555;
    border-bottom: dashed 2px #bbb;
    padding-bottom: 3px;
}
.recaptcha-box {
    text-align: center;
    margin-bottom: 20px;
}
.recaptcha-box .g-recaptcha > div {
    width: auto !important;
}
.content-group-lg .modern-listing {
    margin-bottom: 0;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.wizard-dark {
    margin-top: 20px;
    margin-bottom: 20px;
}
.wizard-dark > .steps > ul > li > a {
    color: rgba(255,255,255,0.5);
    line-height: 30px;
}
.wizard-dark > .steps > ul > li.current > a {
    color: #fff;
}
.wizard-dark > .steps .number {
    width: 48px;
    height: 48px;
    line-height: 44px;
    font-size: 22px;
    color: #aaa;
    background: #56707d;
    border-color: #aaa;
}
.wizard-dark > .steps > ul > li.current .number:after {
    font-size: 22px;
    line-height: 44px;
}
.wizard-dark > .steps > ul > li.current:after, .wizard-dark > .steps > ul > li.current ~ li:before, .wizard-dark > .steps > ul > li.current ~ li:after {
    background: rgba(255,255,255,0.5);
}
.wizard-dark > .steps > ul > li.current > a {
    color: #fff;
}
.subscription-header {
    margin-top: 30px;
}
.subscription-plans {
    text-align: center;
}
.plan-box-center {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}
.wizard-dark > .steps > ul > li.done .number:after {
    font-size: 22px;
    line-height: 44px;
}
.box-shadow {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.mt-30 {
    margin-top: 30px;
}
.plan-left-preview .plan-right, .plan-right-preview .plan-left {
    display: none;
}
.panel-plan {
    width: 330px;
    display: inline-block;
}
@media (min-width: 1025px) {
    .plan-top-80 {
        margin-top: -80px;
    }
}
.plan-box-list {
    display: inline-block;
    margin-right: 20px;
}
.user-top-right img {
    width: 30px;
    border-radius: 50px;
}
.user-top-right a {
    color: #fff;
}
ul.plans-intro li {
    text-align: left;
}
ul.plans-intro li span {
    float: right;
}
.panel-plan .panel-footer {
    height: 58px
}
.subscription-state {
    opacity: 0.9;
}
.subscription-state.subscription-state-current {
    opacity: 1;
}
.panel-heading.subscription-state-current {
    opacity: 1;
}
.mr-30 {
    margin-right: 30px;
}
.filter-box .input-medium .select2 {
    max-width: 200px !important;
    min-width: 180px !important;
}
.select2-selection--single .select2-selection__clear:after {
    font-size: 19px;
}
.dashboard-box {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    background: #f5f5f5;
    height: 103px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px 6px;
}
.dashboard-box:hover {
    background: #fff;
}
.dashboard-box h4 {
    line-height: 16px;
    font-size: 13px;
    font-weight: bold;
}
.dashboard-box .badge {
    border-radius: 30px;
    height: 30px;
    min-width: 30px;
    font-weight: bold;
    margin-top: -10px;
    margin-right: -10px;
    font-size: 14px;
    padding: 3px 0;
}
.dashboard-accordion .modern-listing.top-border-none li:last-child {
    border-bottom: none;
}
.dashboard-accordion ul.modern-listing li i, .dashboard-accordion .table-row-icon {
    height: 60px;
}
.dashboard-accordion .timeline-row {
    margin-bottom: 15px;
}
.dashboard-accordion .timeline-row .panel-heading {
    padding-top: 7px;
    padding-bottom: 7px;
}
.dashboard-accordion .timeline-row .timeline-content {
    padding-left: 7px;
}
.has-fixed-height-300 {
    height: 300px;
}
.has-fixed-height-200 {
    height: 200px;
}
.has-fixed-height-250 {
    height: 250px;
}
.select-medium .select2 {
    min-width: 120px;
}
.has-fixed-height-250.empty-list {
    padding: 70px 20px;
}
.panel {
    border-color: #aaa;
}
.ui-pnotify.bg-warning a {
    color: #fff;
    text-decoration: underline;
}
.ui-pnotify {
    top: inherit;
}
.mc-notify-wanring .ui-pnotify-title {
    white-space: normal;
}
.hosted-field {
    height: 36px;
    border: solid 2px #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}
.hosted-field:hover, .hosted-field:focus {
    border-color: #aaa;
}
.payment_method_type_button {
    margin-bottom: 5px;
}
.bg-cash_manual_confirmation, .bg-notpaid {
    background: #fff;
    border: solid 1px #aaa;
    color: #333;
}
.payments-button {
    cursor: pointer;
}
.ui-pnotify[class*=bg-] > .alert {
    border-bottom: solid 1px rgba(255,255,255,0.3);
}
.inlist-new-button {
    float: right;
    margin-top: -40px;
}
@media (max-width: 890px) {
    .inlist-new-button {
        float: none;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.sending-servers h5.inactive {
    color: #D84315 !important;
}
.license-line .btn {
    margin-top: 7px;
}
.inlist-new-button-tabs {
    margin-top: -120px;
}
.num-medium {
    font-size: 16px;
}
.quota_box h5 {
    font-size: 15px;
}
.mt-40 {
    margin-top: 40px;
}
.form-groups-bottom-0 .form-group {
    margin-bottom: 0;
}

/* Start Nghi's section */
ul.dotted-list {
    list-style: none;
    padding-left: 0;
}
.dotted-list > li {
    line-height: 24px;
    padding: 12px 0 11px;
    border-bottom: 1px dotted #e0e0e0;
    display: flex;
}
.dotted-list>li>div {
    padding: 0;
    display: block;
}
.dotted-list>li>div:first-child {
    width: 35% !important;
}
.dotted-list>li>div:last-child {
    width: 55% !important;
}
.topborder>li:first-child {
    border-top: 1px dotted #e0e0e0;
}
.size1of2 {
    width: 50%;
    float: left;
}
.size1of3 {
    width: 33.3%;
    float: left;
}
.size2of3 {
    width: 66.6%;
    float: left;
}
.lastUnit, .lastGroup {
    float: none;
    width: auto;
}
.lastUnit, .unit {
    padding-left: 15px;
    padding-right: 15px;
}
.sub-section {
    margin-bottom: 40px;
}
/* End Nghi's section */

.dotted-list > li.more {
    border-bottom: none;
}
.plan-list-color-icon {
    color: #1482a0;
    float: left;
    margin-top: 8px;
    height: 20px;
    margin-right: 15px;
}
.empty-li {
    font-size: 16px;
    padding: 10px 0 30px 0 !important;
    text-align: center;
    border-bottom: 0 !important;
}
.has-fixed-height-300 {
    height: 292px;
}
.has-fixed-height-300.empty-list {
    padding: 70px 20px;
}
.empty-list {
    border-radius: 5px;
}
ul.type2 li {
    padding-bottom: 20px;
}
ul.type2 li i {
    height: 30px;
}
.text-small {
    font-size: 12px;
}
.border-bottom-0 {
    border-bottom: 0 !important;
}
ul.modern-listing li .admin-line i {
    font-size: 14px;
    padding: 0;
    margin: 5px 0 0 -8px;
    height: auto;
}
.btn-close-pnotify {
    position: absolute;
    right: 0;
    padding: 3px 3px;
    height: 20px;
    line-height: 16px;
    width: 20px;
    margin: 0;
    cursor: pointer;
    z-index: 10;
}
.btn-close-pnotify i {
    font-size: 14px;
}
.btn-close-pnotify:hover {
}
.boxing {
    padding-bottom: 0;
}
input.mini-input {
    width: 200px !important;
}
.filter-group {
    margin-bottom: 10px;
}
.alert-noborder {
    border: none !important;
}
.modal-header[class*=bg-] {
    padding: 10px;
    text-align: center;
}
.modal-header .close[type=button] {
    background: rgba(255,255,255,0.3);
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: -12px;
    margin-right: -10px;
}
.modal-content {
    border: 0;
}
.select2_sub_line {
    font-weight: normal;
}
.select2_sub_line {
    font-weight: normal;
    line-height: 23px;
}
.select2_title {
    font-size: 15px;
}
.select2-dropdown {
    border: 1px solid #d0d0d0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
}
.select2-container--open .select2-dropdown--below {
    margin-top: 1px;
}
.sweet-alert h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.sweet-alert {
    padding: 10px 10px 20px 10px
}
.sweet-alert p {
    margin: 0;
}
.navbar-brand {
    padding: 0;
    height: 53px;
}
.navbar-brand > img {
    margin-top: 0px;
    max-height: 53px;
    max-width: 140px;
}
.navbar-brand {
    padding: 0;
    height: 53px;
    width: 140px;
    text-align: center;
    position: relative;
    display: inline-block;
    line-height: 50px;
}
.navbar-brand > img {
    margin: 0 auto;
    max-height: 53px;
    max-width: 140px;
    vertical-align: middle;
    display: inline-block;
}
.alert-danger {
    border: none;
}
.ui-pnotify {
    max-width: 100%;
}
.admin-recent-sencond-line {
    overflow: hidden;
    text-overflow: ellipsis;
}
a .spinner, button .spinner {
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0px auto;
    margin-left: 10px;
    margin-top: -3px;
    margin-bottom: -7px;
}
a .double-bounce1, a .double-bounce2, button .double-bounce1, button .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.7);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

a .double-bounce2, button .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
a.loading, button.loading {
    opacity: 0.8;
}
.pml-table-container.loading {
    opacity: 0.5;
    min-height: 100px;
}
.pml-table-container.loading:before {
    content: "loading";
    width: 100%;
    /*background: url(http://umd.orgsync.com/images/spinner.gif?1485915548) no-repeat center center rgba(0,0,0,0.02);*/
    background: rgba(0,0,0,0.02);
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 100;
    text-indent: -9000px;
    height: 100px;
}
.pml-table-container {
    position: relative;
}
.mask-loading-effect {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000000;
}
.mask-loading-effect .content {
    display: block;
    margin: auto;
    position: fixed;
    width: 100%;
    top: 40%;
    text-align: center;
    z-index: 100000000000;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}
/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner2 {
  margin: 20px auto 0;
  width: 70px;
  text-align: center;
}

.spinner2 > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner2 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner2 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner2.black > div {
  background-color: #555;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.list-loading-spinner {
    position: absolute;
    width: 100%;
    padding-top: 20px;
    height: 100px;
    z-index: 9999;
}
.navbar {
    border-width: 0;
}
.navbar-nav > li > a {
    line-height: 21px;
}
.btn-xs .badge {
    padding: 1px 5px 1px 5px;
}
.filter-box .btn {
    border-radius: 5px;
    height: 33px;
}
.list_actions {
    margin-right: 15px;
}
.filter-box input.search {
    margin-top: -2px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
}
.table-log .radio label, .table-log .checkbox label {
    margin-top: -10px;
    padding-left: 20px;
}
.table-log .check_all_list .checker {
    margin-top: -2px;
}
.table-log tbody tr td, .table-log tbody tr th {
    vertical-align: middle;
}
.btn.btn-xs {
    padding: 0 10px;
    font-size: 13px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: #eee;
}
.table-box tr:last-child td {
    border-color: #eee;
}
.alert {
    border: none;
    border-radius: 4px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-30 {
    margin-bottom: 30px;
}
.alert-warning a, .alert-warning a {
    color: #aa3510 !important;
    font-style: italic;
}
.alert-warning a:hover, .alert-warning a:hover {
    text-decoration: underline;
}
.check_all_pages_outer {
    margin-left: 10px;
}
.check_all_pages_outer .checker span {
    margin: -2px;
    background: #fff;
}
.check_all_pages_outer .checker {
    border: solid 2px #bbb;
    border-width: 0 1px 1px 0;
    background: #ddd;
}
.control-checkbox2 {
    margin-top: 15px;
}
.control-checkbox2 label {
    display: inline;
}
.control-checkbox2 .checker {
    float: left;
    margin-right: 15px;
}
.control-radio .radio_box label.main-control {
    padding-left: 0;
}
.control-radio .radio_box {
    padding-left: 35px;
    position: relative;
}
.radio.radio_box .checkbox label {
    padding-left: 35px;
}
@media (min-width: 1024px) {
    .form-group .checkbox:first-child {
        margin-top: 5px;
    }
}
.control-radio .radio_box .choice {
    margin-left: -35px;
    margin-right: 13px;
}
.form-group .desc {
    margin-top: 5px;
    margin-bottom: 20px !important;
}
.radio_more_box {
    display: none;
}
ul.modern-listing li p {
    margin-bottom: 0;
}
.radio_box .choice, .radio_box .choice span, .radio_box .choice input {
    height: 22px;
    width: 22px;
}
.radio_box .choice span:after {
    border-style: solid;
    border-width: 6px;
}
.radio_box rtitle {
    font-size: 16px;
}
canvas[data-zr-dom-id='_zrender_hover_'] {
    display: none;
}
.select2-dropdown--below {
    min-width: 150px;
}
.readonly-box {
    position: relative;
}
.readonly-box .radio_box:after {
    content: 'readonly';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    text-indent: -9000px;
    z-index: 100;
    background: rgba(255,255,255,0.4);
}
.template-thumb {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: solid 1px #e0e0e0;
}
.modal-backdrop.in {
    opacity: 0.7;
}
.new-modal .modal-header {
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: solid 1px #e0e0e0;
    background: #fff;
}
.modal-header {
    border-radius: 3px 3px 0 0;
}
.new-modal .modal-content {
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}
.new-modal .modal-header .close[type=button] {
    background: rgba(0,0,0,0.3);
}
.new-modal .modal-body h6 {
    font-weight: normal;
    font-size: medium;
}
.new-modal .modal-title {
    font-style: italic;
}
.text-normal {
    font-weight: normal !important;
}
.modal-header[class*=bg-] {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
}
.dropdown-menu {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    border-radius: 3px;
}
.nav-tabs.nav-tabs-top > li {
    margin-bottom: -1px;
}
@media (min-width: 769px) {
    .nav-tabs.nav-tabs-top > li {
        margin-bottom: -1px;
    }
}
.control-time .text-left {
    text-align: left !important;
}
.readonly-box .radio_more_box {
    position: relative;
    z-index: 1000;
}
.clear-both {
    clear:both;
}
.radius-0{
    border-radius: 0;
}
.pre-upload-photo {
    text-align: left;
    width: 80px;
    height: 80px;
    border: 1px solid #797676;
    border-radius: 100%;
}
.profile-image .pre-upload-photo img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 100%;
}
.padding-l0 {
    padding-left: 0
}
.edit-photo {
    color: white;
    background: rgba(0,0,0,0.3);
    width: 80px;
    height: 40px;
    display: inline-block;
    line-height: 2.2;
    position: relative;
    right: 0;
    top: -45px;
    cursor: pointer;
    border-radius: 0 0 200px 190px;
}
.profile-image .preview {
    display: block;
    margin-bottom: 20px;
    padding: 0;
}
.background-gray {
    background: #737373;
}
.background-gray:hover {
    color: white
}
.trans-upcase {
  text-transform: uppercase;
}
.dim-box {
    border: dashed 1px #ddd;
    padding: 15px;
    background: #f5f5f5;
}
.square-tag {
  border-radius: 2px;
}
.section-flex .form-group {
  width: 100%;
}
.section-flex li {
  display: flex;
}
.section-flex li .unit {
  flex-shrink: 0;
}
.btn-default {
  background: #e0e0e0 !important;
  color: #484848 !important;
  border-color: #e0e0e0 !important;
}
.btn-default:hover {
  background: #d0d0d0 !important;
}
.editable-clear-x:after {
  content: none;
}
.rtl, [dir=rtl] {
    direction: rtl;
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align:right;
}
.modal-trigger {
  cursor: pointer;
}
.list-boxes {
}
.list-box {
  margin-right: 20px;
  border: solid 1px #bbb;
  padding: 10px 20px;
  border-radius: 5px;
  width: 45%;
  float: left;
  margin-bottom: 20px;
}
.list-box:hover {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.list-box.active {
}

.list-box a {
  color: #333;
  display: block;
}
.list-box label {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 120%;
}
.list-box-footer {
  padding-top: 10px;
  margin-top: 10px;
  border-top: solid 1px #aaa;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.space-between {
  justify-content: space-between;
}
.text-big {
  font-size: 20px !important;
}
.alert h4 {
  margin-bottom: 0;
  font-weight: 600;
  font-size:14px;
}
.alert p {
  font-size: 14px;
  margin: 0;
}

.alert .fal {
  font-size: 22px;
}
.campaign-row-neutral {
  color: #777;
}
.campaign-row-success {
  color: #4CAF50;
}
.campaign-row-failed {
  color: #F44336;
}
.campaign-row-success .icon-check:before {
    content: "\e9db";
}
.campaign-row-failed .icon-check:before {
    content: "\ed64";
}
.campaign-row-neutral .icon-check:before {
    content: "\ecb4";
}
.table-bodered-heading {
  border: solid 1px #dedddc;
}
.table-bodered-heading thead tr {
  background: #eee;
}
.table-bodered-heading thead tr th {
  font-weight: 600;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-color: #dedddc;
}
.select-template-layout .panel-template-style {
  border-width: 1px;
  padding: 2px;
}
.select-template-layout.selected .panel-template-style {
  border-color: #166dba;
  position: relative;
  background: #d2e3f2;
}
.select-template-layout.selected:before {
    content: '\ed6c';
    font-family: 'icomoon';
    right: 20px;
    position: absolute;
    color: #fff;
    background: #166dba;
    border-radius: 0 0 0 100px;
    padding: 2px 3px 6px 11px;
    z-index: 1;
}
.mc-tabs > li {
  padding: 0 15px;
  margin-right: 10px;
}
.mc-tabs > li:first-child {
  padding-left: 0;
}
.mc-tabs > li > a {
  padding: 9px 0;
  font-weight: 600;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
    border-bottom: 2px solid #26A69A;
    border-bottom-color: #26A69A;
}
.template-boxes .panel-template-style {
  border-color: transparent;
}
.template-boxes .panel-body {
    padding: 0;
}
.template-boxes .panel-body label {
    text-align: center;
    display: block;
    color: #333;
    margin: 8px;
}
.template-boxes .panel-body img {
    border: solid 1px #aaa;
    border-radius: 3px;
}
.template-boxes.layout .panel-body img {
    border: none;
}
p.link-inline a {
  text-decoration: underline;
}
.timeline-icon img {
    width: 45px;
    height: 45px;
    
}
.timeline-icon {
  border: none;
  padding: 2px 0 0 1px;
}
.timeline-container:after {
  width: 1px;
}
.timeline-icon:after {
  height: 1.5px;
  margin-top: 0;
}
.timeline-row .panel-heading {
  padding: 15px 8px 15px 20px;
  padding-bottom: 8px;
}
.timeline-row .panel-heading h6 {
  font-weight: 600;
}
.timeline-container {
  padding-right: 30px;
}
.timeline-content {
    border: 1px solid #aaa;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.box-list {
  
}
.box-list .box-item {
    width: 280px;
    float: left;
    margin-right: 20px;
    height: 150px;
    text-align: center;
    border: solid 1px #bbb;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #333;
}
.box-list .box-item:hover {
  border-color: #888;
}
.box-list .box-item h4 {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}
.box-list .box-item p {
  font-size: 13px;
}
.btn {
    padding: 8px 18px;
}
.line-item {
    display: flex;
    padding: 7px;
    cursor: pointer;
}
.line-item:hover {
    background: #f5f5f5;
}
.line-item .line-icon {
    padding-right: 20px;
    font-size: 28px;
    line-height: 20px;
}
.line-item .line-body h4 {
    margin: 0 0 3px 0;
    font-size: 16px;
    font-weight: 600;
}
.line-item .line-body p {
    font-size: 14px;
}

.hover-list {
  padding: 0;
}
.hover-list li {
  display: flex;
  list-style: none;
  padding: 15px;
  border: dashed 2px #fff;
  border-radius: 15px;
}
.hover-list li:hover {
  border: dashed 2px #aaa;
}
.hover-list li i {
  font-size: 28px;
  margin-right: 20px;
  color: #333;
  margin-top: 6px;
}
.hover-list li .list-body {
  padding-right: 100px;
  width: 100%;
}
.hover-list li .list-body h4 {
  margin: 0 0 3px 0;
  font-size: 15px;
  font-weight: 600;
  color: #00695B;
}
.hover-list li .list-body p {
  font-size: 14px;
  margin: 0;
}
.hover-list li .list-action {
  align-items: center;
  display: flex;
  visibility: hidden;
}
.hover-list li:hover .list-action {
  visibility: visible;
}
.btn {
  padding: 7px 12px;
}
.mc-nav > li > a {
    padding: 0 0 5px 0;
}
.media-left {
  display: flex;
}
.media-left .media {
  padding-right: 20px;
    padding-top: 8px;
}
.media-left .media img {
      width: 60px;
    height: 60px;
}
.media-left .main {
  
}
.media-left .main label {
      margin-bottom: 0px;
    font-size: 17px;
}
.media-left .main p {
  font-size: 14px;
    margin-bottom: 15px;
}
.template-start {
  cursor: pointer;
}
.material-icons-outlined, .material-icons {
    font-size: inherit;
}
.lnr {
}
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.align-items-top {
    align-items: top;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.d-block {
    display: block!important;
}
.activity-feed .activity-media i {
    font-size: 21px;
    border-radius: 100%;
    background: #c5e5de;
    color: #333;
    padding: 13px 15px;
    width: 50px;
    height: 50px;
    display: block;
    opacity: 0.9;
}
.activity-feed .activity-media i.bg-primary {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #fff;
}
.activity-feed .activity-media i.bg-secondary {
    color: #fff;
    background-color: #5d5e60;
    border-color: #5d5e60;
}
.activity-feed .activity-media i.bg-warning {
    color: #fff;
    background-color: #e47a50;
    border-color: #e47a50;
}
.activity-feed .activity-media i.bg-success {
    color: #fff;
    background-color: #28A744!important;
    border-color: #28A744!important;
}
.activity-feed .activity-media i.bg-danger {
    color: #fff;
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}
.activity-feed .activity-media {
  width: 100px;
}
.activity-feed .activity {
    border: solid 1px #ccc;
    border-radius: 5px;
    position: relative;
    margin-top: 27px;
}
.activity-feed line {
    height: 16px;
    display: block;
    border-left: solid 1.5px #bbb;
    width: 2px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.activity-feed .activity:before {
    content: 'a';
    height: 16px;
    display: block;
    border-left: solid 1.5px #bbb;
    width: 2px;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: -9000px;
    position: absolute;
    top: -27px;
    left: 0;
}
.activity-feed label.divider {
  width: 130px;
  text-align: center;
}
.m-0 {
    margin: 0 !important;
  }
  
  .mt-0,
  .my-0 {
    margin-top: 0 !important;
  }
  
  .mr-0,
  .mx-0 {
    margin-right: 0 !important;
  }
  
  .mb-0,
  .my-0 {
    margin-bottom: 0 !important;
  }
  
  .ml-0,
  .mx-0 {
    margin-left: 0 !important;
  }
  
  .m-1 {
    margin: 0.25rem !important;
  }
  
  .mt-1,
  .my-1 {
    margin-top: 0.25rem !important;
  }
  
  .mr-1,
  .mx-1 {
    margin-right: 0.25rem !important;
  }
  
  .mb-1,
  .my-1 {
    margin-bottom: 0.25rem !important;
  }
  
  .ml-1,
  .mx-1 {
    margin-left: 0.25rem !important;
  }
  
  .m-2 {
    margin: 0.5rem !important;
  }
  
  .mt-2,
  .my-2 {
    margin-top: 0.5rem !important;
  }
  
  .mr-2,
  .mx-2 {
    margin-right: 0.5rem !important;
  }
  
  .mb-2,
  .my-2 {
    margin-bottom: 0.5rem !important;
  }
  
  .ml-2,
  .mx-2 {
    margin-left: 0.5rem !important;
  }
  
  .m-3 {
    margin: 1rem !important;
  }
  
  .mt-3,
  .my-3 {
    margin-top: 1rem !important;
  }
  
  .mr-3,
  .mx-3 {
    margin-right: 1rem !important;
  }
  
  .mb-3,
  .my-3 {
    margin-bottom: 1rem !important;
  }
  
  .ml-3,
  .mx-3 {
    margin-left: 1rem !important;
  }
  
  .m-4 {
    margin: 1.5rem !important;
  }
  
  .mt-4,
  .my-4 {
    margin-top: 1.5rem !important;
  }
  
  .mr-4,
  .mx-4 {
    margin-right: 1.5rem !important;
  }
  
  .mb-4,
  .my-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .ml-4,
  .mx-4 {
    margin-left: 1.5rem !important;
  }
  
  
  
  .p-0 {
    padding: 0 !important;
  }
  
  .pt-0,
  .py-0 {
    padding-top: 0 !important;
  }
  
  .pr-0,
  .px-0 {
    padding-right: 0 !important;
  }
  
  .pb-0,
  .py-0 {
    padding-bottom: 0 !important;
  }
  
  .pl-0,
  .px-0 {
    padding-left: 0 !important;
  }
  
  .p-1 {
    padding: 0.25rem !important;
  }
  
  .pt-1,
  .py-1 {
    padding-top: 0.25rem !important;
  }
  
  .pr-1,
  .px-1 {
    padding-right: 0.25rem !important;
  }
  
  .pb-1,
  .py-1 {
    padding-bottom: 0.25rem !important;
  }
  
  .pl-1,
  .px-1 {
    padding-left: 0.25rem !important;
  }
  
  .p-2 {
    padding: 0.5rem !important;
  }
  
  .pt-2,
  .py-2 {
    padding-top: 0.5rem !important;
  }
  
  .pr-2,
  .px-2 {
    padding-right: 0.5rem !important;
  }
  
  .pb-2,
  .py-2 {
    padding-bottom: 0.5rem !important;
  }
  
  .pl-2,
  .px-2 {
    padding-left: 0.5rem !important;
  }
  
  .p-3 {
    padding: 1rem !important;
  }
  
  .pt-3,
  .py-3 {
    padding-top: 1rem !important;
  }
  
  .pr-3,
  .px-3 {
    padding-right: 1rem !important;
  }
  
  .pb-3,
  .py-3 {
    padding-bottom: 1rem !important;
  }
  
  .pl-3,
  .px-3 {
    padding-left: 1rem !important;
  }
  
  .p-4 {
    padding: 1.5rem !important;
  }
  
  .pt-4,
  .py-4 {
    padding-top: 1.5rem !important;
  }
  
  .pr-4,
  .px-4 {
    padding-right: 1.5rem !important;
  }
  
  .pb-4,
  .py-4 {
    padding-bottom: 1.5rem !important;
  }
  
  .pl-4,
  .px-4 {
    padding-left: 1.5rem !important;
  }
  
  .m-n1 {
    margin: -0.25rem !important;
  }
  
  .mt-n1,
  .my-n1 {
    margin-top: -0.25rem !important;
  }
  
  .mr-n1,
  .mx-n1 {
    margin-right: -0.25rem !important;
  }
  
  .mb-n1,
  .my-n1 {
    margin-bottom: -0.25rem !important;
  }
  
  .ml-n1,
  .mx-n1 {
    margin-left: -0.25rem !important;
  }
  
  .m-n2 {
    margin: -0.5rem !important;
  }
  
  .mt-n2,
  .my-n2 {
    margin-top: -0.5rem !important;
  }
  
  .mr-n2,
  .mx-n2 {
    margin-right: -0.5rem !important;
  }
  
  .mb-n2,
  .my-n2 {
    margin-bottom: -0.5rem !important;
  }
  
  .ml-n2,
  .mx-n2 {
    margin-left: -0.5rem !important;
  }
  
  .m-n3 {
    margin: -1rem !important;
  }
  
  .mt-n3,
  .my-n3 {
    margin-top: -1rem !important;
  }
  
  .mr-n3,
  .mx-n3 {
    margin-right: -1rem !important;
  }
  
  .mb-n3,
  .my-n3 {
    margin-bottom: -1rem !important;
  }
  
  .ml-n3,
  .mx-n3 {
    margin-left: -1rem !important;
  }
  
  .m-n4 {
    margin: -1.5rem !important;
  }
  
  .mt-n4,
  .my-n4 {
    margin-top: -1.5rem !important;
  }
  
  .mr-n4,
  .mx-n4 {
    margin-right: -1.5rem !important;
  }
  
  .mb-n4,
  .my-n4 {
    margin-bottom: -1.5rem !important;
  }
  
  .ml-n4,
  .mx-n4 {
    margin-left: -1.5rem !important;
  }
  
  .m-n5 {
    margin: -3rem !important;
  }
  
  .mt-n5,
  .my-n5 {
    margin-top: -3rem !important;
  }
  
  .mr-n5,
  .mx-n5 {
    margin-right: -3rem !important;
  }
  
  .mb-n5,
  .my-n5 {
    margin-bottom: -3rem !important;
  }
  
  .ml-n5,
  .mx-n5 {
    margin-left: -3rem !important;
  }
  
  .m-auto {
    margin: auto !important;
  }
  
  .mt-auto,
  .my-auto {
    margin-top: auto !important;
  }
  
  .mr-auto,
  .mx-auto {
    margin-right: auto !important;
  }
  
  .mb-auto,
  .my-auto {
    margin-bottom: auto !important;
  }
  
  .ml-auto,
  .mx-auto {
    margin-left: auto !important;
  }
  .font-weight-semibold {
    font-weight: 600!important;
}
.mini, mini {
    font-size: 80%;
}
.activity-feed .activity-media i {
    font-size: 21px;
    border-radius: 100%;
    background: #c5e5de;
    color: #333;
    padding: 13px 15px;
    width: 50px;
    height: 50px;
    display: block;
    opacity: 0.9;
    margin: 10px auto;
}
.btn-group-tag>.btn, .btn-tag {
    padding: 5px 7px;
    background-color: #eee;
    border-color: #eee;
    font-size: 80%;
}
.top-history .media-left {
    display: block;
    float: left;
    padding-right: 12px;
}
.top-history .desc {
    font-size: 90%;
}
.text-muted {
    color: rgba(0,0,0,0.7);
}
.bg-m-warning {
    background-color: #FFF3E0!important;
    color: #333;
    border-color: #FFF3E0;
}
.automation-template-thumb {
    width: 190px !important;
    height: auto !important;
    box-shadow: 0px 0px 22px rgba(0,0,0,0.2);
    border: solid 1px #ddd;
    padding: 5px;
    border-radius: 10px;
  }
.template-thumb-container {
    position: relative;
    display: flex;
    align-items: center;
}
.template-thumb-container:hover::before {
    content: 'hello';
    text-indent: -9000px;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.06);
}
.template-thumb-container:hover .btn {
    display: block !important;
    position: absolute;
    width: 77%;
    white-space: normal;
    margin: 0 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
    padding: 7px 10px;
    transition: visibility 0s linear 10s, opacity 0.33s linear;
}
.campaign-plain-text {
    min-height: 200px;
}
.tabs-warning-icon {
    font-size: 20px;
    position: absolute;
    top: 4px;
    text-decoration: none;
    border-bottom: none !important;
}
.top-notifications .media-left i {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: block;
    font-size: 20px !important;
    padding: 6px 8px;
    text-align: center;
    opacity: 0.9;
}
.admin-notification-media {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: block;
    font-size: 20px !important;
    padding: 6px 8px;
    text-align: center;
    opacity: 0.9;
    margin-right: 10px;
}
.navbar-nav > li > a > .label, .navbar-nav > li > a > .badge.top-notification-alert {
    width: 16px;
    height: 16px;
    font-weight: bold;
    padding: 0;
    font-size: 11px;
    line-height: 12px;
    top: 10px;
    right: 10px;
}
.bg-grey-light {
    background: #f2f2f2;
}
.dropdown-user .customer-warning-icon {
    right: 0px;
    position: absolute;
    top: 6px;
    font-weight: normal;
}
.dropdown-user .subscription-warning-icon {
    right: 0px;
    position: absolute;
    top: 13px;
    font-weight: normal;
}
.top-notification-alert {
    right: 7px;
    top: 9px;
}
.top-notification-icon {
    font-size: 20px !important;
}
.plan-off-icon, .plan-on-icon {
    font-size: 40px;
    margin-right: 10px;
}
.plan-off-icon:hover, .plan-on-icon:hover {
    opacity: 0.8;
}
.plan-off-icon {
    color: #888;
}
.align-items-canter {
    align-items: center;
}
a.plan-off .spinner, a.plan-on .spinner {
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0px auto;
    margin-left: -45px;
    margin-top: 0px;
    margin-bottom: 9px;
}
.plan-off.disabled, .plan-on.disabled {
    opacity: 0.2;
    pointer-events: none;
}
.plan-off.xtooltip, .plan-on.xtooltip {
    border: none;
}
.nav-tabs.inline-tabs {
    border: none;
    display: inline-block;
}
.mc-list .list-item {
    border-bottom: solid 1px #ddd;
}
.mc-list .list-item:first-child {
    border-top: solid 1px #ddd;
}
.badge-large {
    font-size: 100% !important;
    padding: 5px 10px;
}
.campaign-list-segments .condition-line:first-child .del-col {
    display: none;
}
.dropdown-menu {
    box-shadow: 0 3px 10px hsl(0, 0%, 50%);
    border-radius: 2px;
    border-color: transparent !important;
    border: none;
}
.black-back-button {
    opacity: 0.9;
    width: 33px;
    font-size: 25px;
    height: 56px;
    width: 56px;
    padding: 10px;
    text-align: center;
}
.black-back-button:hover {
    opacity: 1;
}
.full-iframe-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 90000000;
}
.full-iframe-popup iframe.builder {
  width: 100%;
  height: 100vh;
  border: none;
  background: #333;
}
body > .ui-pnotify {
    z-index: 10000000000 !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
.full-iframe-popup .frame-classic-loader {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    padding: 0 50%;
    align-items: center;
}
.subscriber-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: solid 1px #aaa;
    margin-right: 20px;
}
textarea.bulk-delete {
    height: 160px;
}
.subscriber-list {
    padding: 0;
    max-height: 200px;
    overflow: auto;
}
.subscriber-list li {
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
}
.subscriber-list li:first-child {
    border-top: solid 1px #ddd;
    padding-top: 10px;
}
.subscriber-list li label {
    margin: 0;
    font-weight: 600;
}
.subscriber-list li p {
    margin: 0;
}
.subscriber-list .avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: solid 1px #aaa;
    margin-right: 18px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #efefef;
}
.tracking-domain-scheme-name {
    display: flex;
}
.tracking-domain-scheme-name .control-text {
    width: 100%;
}
.tracking-domain-scheme-name .control-select .select2-selection {
    border-radius: 5px 0 0 5px;
    height: 36px;
}
.tracking-domain-scheme-name .control-text input[type=text] {
    border-radius: 0px 5px 5px 0px;
}
.automation-header .bg-dark {
    background-color: #222!important;
}
.automation-header .fixed-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.automation-header .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.automation-header .navbar-dark .navbar-brand {
    color: #fff;
}
.automation-header .navbar-brand.left-logo {
    display: block;
    height: 55px;
    background: rgba(0,0,0,0.3);
    padding: 10px 20px;
    margin: -16px 20px -17px -16px;
}
.automation-header .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    height: 56px;
}
@media (min-width: 768px) {
.automation-header .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
}
.automation-header .account-info a img {
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 100%;
}
.automation-header .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;    
}
.automation-header .navbar-dark .navbar-brand {
    color: #fff;
}
.automation-header .navbar-brand.left-logo {
    display: block;
    height: 55px;
    background: rgba(0,0,0,0.3);
    padding: 15px 20px;
    margin: -16px 20px -17px -16px;
}
.automation-header .mr-auto, .automation-header .mx-auto {
    margin-right: auto!important;
}
.automation-header .navbar h1 {
    color: #ccc;
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}
.automation-header .automation-top-menu {
    display: flex;
    align-items: center;
}
.automation-header .mr-3, .automation-header .mx-3 {
    margin-right: 1rem!important;
}
.automation-header .automation-top-menu .action {
    color: #ccc;
    padding: 8px 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}
.automation-header .navbar-brand.left-logo img {
    height: 17px;
}
.automation-header .switch-automation {
    position: relative;
}
.automation-header .switch-automation .select2 {
    position: absolute;
    color: transparent;
    width: 100%!important;
    outline: none;
}
.automation-header .select2-container .select2-selection--single {
    height: 38px;
}
.automation-header .switch-automation .select2-selection--single {
    background: none;
    border: none;
    outline: none;
    color: none;
}
.automation-header .select2-container--default .select2-selection--single {
    border-color: #ced4da;
}
.automation-header .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    height: 38px;
}
.automation-header .switch-automation .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}
.automation-header .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    top: 0px;
}
.automation-header .select2 {
    height: 46px;
}
.automation-header .account-info a.account-item {
    padding: 10px 15px!important;
    background: rgba(255,255,255,0.05);
    color: #aaa;
    border-radius: 2px;
    margin-left: 10px;
    display: flex;
    margin: -4px -4px -3px 0;
    align-items: center;
}
.automation-header .navbar-nav {
    margin-left: 0;
    padding-left: 0;
}
.automation-header .account-info .dropdown.open .dropdown-menu {
    background: #333;
    margin-right: -11px;
    margin-top: 9px;
    border-radius: 0 0 4px 4px;
}
.automation-header .account-info .dropdown.open .dropdown-menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    background: #333;
    color: #ddd;
}
.automation-header .account-info .dropdown.open .dropdown-menu a:hover {
    background: #222;
}
.automation-header .automation-head-icon {
    font-size: 22px;
}
.automation-header .material-icons-outlined, .automation-header .material-icons {
    font-size: 100%;
    color: #ccc;
    font-size: 20px;
}
.automation-header .account-info a.dropdown-toggle::after {
    margin-left: 0.35em;
}
.automation-header .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.automation-header .last_save_time {
    color: #aaa;
}
.new-modal .modal-content {
    box-shadow: none;
    border-radius: 0 0 3px 3px;
}
.new-modal .modal-header .close[type=button] {
    background: none;
    color: #333;
    font-size: 31px;
    font-weight: normal;
    margin-top: -16px;
}
.popup-body .select2 {
    width: 100%!important;
}
.select2-selection--multiple .select2-search--inline .select2-search__field:focus {
outline: none;
box-shadow: none;
}
.navbar-nav > .dropdown-user .acelle-icon img {
    margin: 0;
    max-height: none;
    border-radius: 0;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #a0d6d2;
    color: #333;
}
.api-doc-table td {
    vertical-align: top!important;
}
@-webkit-keyframes load8 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes load8 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

.button-loading {
opacity: 0.8;
pointer-events: none;
padding-right: 32px!important;
position: relative;
}
.button-loading .loader, .button-loading .loader:after {
border-radius: 50%;
width: 2em;
height: 2em;
}
.button-loading .loader {
font-size: 10px;
z-index: 1000;
position: relative;
text-indent: -9999em;
border-top: 0.2em solid rgba(0, 0, 0, 0.4);
border-right: 0.2em solid rgba(0, 0, 0, 0.4);
border-bottom: 0.2em solid rgba(0, 0, 0, 0.4);
border-left: 0.2em solid #ddd;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation: load8 1.1s infinite linear;
animation: load8 1.1s infinite linear;
margin: 4px 0 0 5px;
position: absolute;
top: 2px;
right: 10px;
}
.button-primary.button-loading .loader {
border-top: 0.2em solid rgba(255, 255, 255, 0.2);
border-right: 0.2em solid rgba(255, 255, 255, 0.2);
border-bottom: 0.2em solid rgba(255, 255, 255, 0.2);
border-left: 0.2em solid #ffffff;
}
form.loading {
    pointer-events: none;
}
form.loading input {
    background: rgba(0,0,0,0.1)
}
